html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 20px;
	margin: 2%;
}

.container {
	background: rgb(250, 245, 246);
	padding: 2%;
	height: 400px;

}

.circle {
	background: green;
	height: 40px;
	width: 40px;
	display: inline-block;
	border-radius: 50%;
}